<%- include("./partials/header.ejs",{ title: "home" })  %> 
<body class="bg-gray-50">
        
    <main class="container m-auto h-full w-full flex justify-center items-center flex-col max-w-xl gap-8 px-4">
              <div class="mb-8">
                <a href="/"><h2 class="hidden sm:inline text-6xl text-gray-600"><span class="text-blue-600 font-semibold ">Super</span>Calendar</h2> <img class="w-24 sm:hidden inline" src="/public/icon-512x512.png"></a>

              </div>
                <form action="/auth" method="post" class="shadow-lg rounded p-6 bg-white w-full">

                  <div class="mb-5">
                    <label for="new-calendar" class="text-xl form-label inline-block mb-2 text-gray-700"
                    >Password</label
                  >                   
                  <input required
                    type="password"
                    class="
                      form-control
                      mb-2
                      block
                      w-full
                      px-3
                      py-1.5
                      text-base
                      font-normal
                      text-gray-700
                      bg-white bg-clip-padding
                      border border-solid border-gray-300
                      rounded
                      transition
                      ease-in-out
                      m-0
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    "
                    id="new-calendar"
                    name="password"
                    placeholder="*******"
                  />
                  <%- error == 1 ? `<span class="text-red-600">You need Password To Login.</span>` : "" %>  
                  <%- error == 2 ? `<span class="text-red-600">Password Is Incorrect.</span>` : "" %>  
                  </div>
                  



       
                    <button-primary data-full data-type="submit" data-text="LOG IN"></button-primary>
                </form>

    </main>

     

</body>

