<%- include("./partials/header.ejs",{ title: "home" })  %> 
<body class="bg-gray-50">
        
    <main class="container m-auto h-full w-full flex justify-center items-center flex-col max-w-xl gap-8 px-4">
              <div>
                <svg  class="w-40" viewBox="0 0 869 487" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M421.476 76.8675C374.717 27.1385 310.933 -0.257852 242.969 0.00182929C210.999 0.0652374 179.354 6.42508 149.841 18.7182C120.328 31.0114 93.5261 48.9971 70.9644 71.6485C25.3989 117.395 -0.127579 179.369 0.000479506 243.936C0.128538 308.503 25.9006 370.375 71.6472 415.94C117.394 461.506 179.368 487.032 243.935 486.904C253.366 486.903 262.79 486.362 272.159 485.281C272.922 485.194 273.644 484.892 274.242 484.411C274.84 483.929 275.29 483.288 275.538 482.561C275.786 481.835 275.823 481.053 275.644 480.306C275.466 479.559 275.079 478.879 274.529 478.343C255.895 460.212 244.964 435.598 244.008 409.617C243.973 408.584 243.546 407.603 242.813 406.875C242.08 406.147 241.097 405.725 240.064 405.697C152.235 403.644 81.4147 331.428 81.6338 243.039C81.8529 154.058 154.539 81.3713 243.521 81.1522C333.2 80.9331 406.236 153.822 406.236 243.453C406.261 266.788 401.225 289.851 391.475 311.051C391.046 311.992 390.993 313.062 391.327 314.04C391.66 315.019 392.354 315.834 393.268 316.318C416.181 328.612 433.514 349.216 441.707 373.894C441.94 374.633 442.379 375.289 442.973 375.786C443.566 376.283 444.29 376.599 445.058 376.698C445.826 376.797 446.606 376.674 447.306 376.344C448.007 376.014 448.598 375.491 449.01 374.836C478.215 329.183 491.365 275.096 486.383 221.131C481.401 167.166 458.57 116.402 421.5 76.8675H421.476Z" fill="#DF6700"/>
                  <path d="M406.236 405.754C406.188 421.247 400.222 436.136 389.559 447.374C378.895 458.613 364.34 465.353 348.871 466.214C333.403 467.075 318.189 461.993 306.344 452.007C294.499 442.021 286.918 427.886 285.15 412.495C283.383 397.103 287.564 381.618 296.838 369.208C306.112 356.797 319.777 348.399 335.039 345.732C350.3 343.065 366.004 346.331 378.937 354.86C391.87 363.39 401.055 376.539 404.613 391.618C405.705 396.25 406.25 400.995 406.236 405.754V405.754Z" fill="#B65400"/>
                  <path d="M682.148 4.05947V137.146C682.147 137.8 681.988 138.444 681.684 139.023C681.38 139.603 680.941 140.1 680.404 140.473C679.867 140.846 679.248 141.084 678.599 141.166C677.95 141.248 677.291 141.172 676.678 140.944C654.013 132.629 629.132 132.629 606.467 140.944C605.854 141.172 605.195 141.248 604.546 141.166C603.897 141.084 603.278 140.846 602.74 140.473C602.203 140.1 601.764 139.603 601.461 139.023C601.157 138.444 600.998 137.8 600.997 137.146V4.05947C600.997 2.98335 601.425 1.95131 602.186 1.19037C602.946 0.429441 603.978 0.00195313 605.055 0.00195313L678.09 0.00195312C679.166 0.00195313 680.198 0.429441 680.959 1.19037C681.72 1.95131 682.148 2.98335 682.148 4.05947Z" fill="#DF6700"/>
                  <path d="M682.148 335.153V482.847C682.148 483.923 681.72 484.955 680.959 485.716C680.198 486.477 679.166 486.904 678.09 486.904H605.055C603.978 486.904 602.946 486.477 602.186 485.716C601.425 484.955 600.997 483.923 600.997 482.847V335.153C600.998 334.499 601.157 333.855 601.461 333.276C601.764 332.696 602.203 332.199 602.74 331.826C603.278 331.453 603.897 331.215 604.546 331.133C605.195 331.051 605.854 331.127 606.467 331.355C629.132 339.67 654.013 339.67 676.678 331.355C677.291 331.127 677.95 331.051 678.599 331.133C679.248 331.215 679.867 331.453 680.404 331.826C680.941 332.199 681.38 332.696 681.684 333.276C681.988 333.855 682.147 334.499 682.148 335.153V335.153Z" fill="#DF6700"/>
                  <path d="M868.794 199.632V272.668C868.794 273.744 868.366 274.776 867.605 275.537C866.844 276.298 865.812 276.725 864.736 276.725H740.576C739.922 276.724 739.278 276.565 738.699 276.262C738.119 275.958 737.622 275.519 737.249 274.982C736.876 274.445 736.638 273.826 736.556 273.177C736.474 272.528 736.55 271.869 736.778 271.256C745.124 248.596 745.124 223.704 736.778 201.044C736.55 200.431 736.474 199.772 736.556 199.124C736.638 198.475 736.876 197.855 737.249 197.318C737.622 196.781 738.119 196.342 738.699 196.039C739.278 195.735 739.922 195.576 740.576 195.575H864.736C865.812 195.575 866.844 196.002 867.605 196.763C868.366 197.524 868.794 198.556 868.794 199.632Z" fill="#DF6700"/>
                  <path d="M864.735 0.00219727H710.549C708.308 0.00219727 706.491 1.81881 706.491 4.05972V77.0951C706.491 79.336 708.308 81.1526 710.549 81.1526H864.735C866.976 81.1526 868.792 79.336 868.792 77.0951V4.05972C868.792 1.81881 866.976 0.00219727 864.735 0.00219727Z" fill="#DF6700"/>
                  <path d="M864.735 405.754H710.549C708.308 405.754 706.491 407.57 706.491 409.811V482.847C706.491 485.087 708.308 486.904 710.549 486.904H864.735C866.976 486.904 868.792 485.087 868.792 482.847V409.811C868.792 407.57 866.976 405.754 864.735 405.754Z" fill="#DF6700"/>
                  <path d="M702.435 236.15C702.424 249.242 698.189 261.981 690.359 272.474C682.528 282.966 671.521 290.651 658.973 294.387C646.425 298.122 633.006 297.709 620.712 293.207C608.418 288.706 597.905 280.357 590.735 269.403C583.566 258.448 580.123 245.472 580.919 232.404C581.715 219.336 586.707 206.874 595.153 196.87C603.598 186.866 615.047 179.855 627.796 176.879C640.546 173.902 653.915 175.12 665.917 180.351C666.729 180.7 667.475 181.049 668.238 181.43C678.503 186.417 687.155 194.196 693.204 203.873C699.252 213.551 702.451 224.737 702.435 236.15V236.15Z" fill="#B65400"/>
                </svg>
                  
              </div>
                <form action="/auth" method="post" class="shadow-lg rounded p-6 bg-white w-full">

                  <div class="mb-5">
                    <label for="new-calendar" class="text-xl form-label inline-block mb-2 text-gray-700"
                    >Password</label
                  >                   
                  <input required
                    type="password"
                    class="
                      form-control
                      mb-2
                      block
                      w-full
                      px-3
                      py-1.5
                      text-base
                      font-normal
                      text-gray-700
                      bg-white bg-clip-padding
                      border border-solid border-gray-300
                      rounded
                      transition
                      ease-in-out
                      m-0
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    "
                    id="new-calendar"
                    name="password"
                    placeholder="*******"
                  />
                  <%- error == 1 ? `<span class="text-red-600">You need Password To Login.</span>` : "" %>  
                  <%- error == 2 ? `<span class="text-red-600">Password Is Incorrect.</span>` : "" %>  
                  </div>
                  



       
                    <button-primary data-full data-type="submit" data-text="LOG IN"></button-primary>
                </form>

    </main>


</body>

